<ion-header translucent>
  <ion-toolbar>
    <ion-title >
      <div style="font-family: Arizonia;text-align: center;font-size: 1.8em;color: darkblue;word-wrap: break-word;">Socrates AI Marraige Advisor</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-button *ngIf="this.results != null" (click)="resetClicked($event)">Reset</ion-button>
  <ion-item *ngIf="this.results == null" class="top">
    <ion-label class="ion-text-wrap">{{inputText}}</ion-label>

    <ion-select [(ngModel)]="choices_selectbox" *ngIf="choices != null" (ionChange)="onChoicesListChange($event)"
      interface="popover">
      <ion-select-option *ngFor="let choice of choices">{{choice}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item *ngIf="range != null">
    <ion-input id="range_input" [(ngModel)]="selectedRange" required="true" clearInput=true type="number" pattern="\d*"
      (ionChange)="onInputTextChange($event.target.value)" (keyup.enter)="keyupEnter()"
      placeholder="valid range {{range.min}} to {{range.max}}">
    </ion-input>
    <ion-button *ngIf="this.validInput" (click)="onSendInput($event)">&#8594;</ion-button><br><br>
  </ion-item>


  <div *ngIf="this.results != null" class="list card">

    <div class="item item-avatar">
      <img src={{results_image_source}}>
      <h2 style="font-family: Pacifico;text-align: center;">Congratulations !!</h2>

    </div>

    <div class="item item-image">
      <ion-row>
        <ion-col size="2">
          <img *ngIf="results_image_source" src="../assets/imgs/brain.jpg">
        </ion-col>
        <ion-col size="10">
          <p style="font-family: Leckerli One;color: blueviolet;">{{results_caption}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-button (click)="onShowReasoning($event)">why</ion-button>
    </div>
  </div>


  <ion-grid *ngIf="this.showGrid">

    <ion-row>
      <ion-col>
        <br>
        <div>Factors</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let matchFactor of matchFactors">
      <ion-col>
        <div>{{matchFactor.factor}} : {{matchFactor.value}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-button (click)="onShowResponses($event)">Responses</ion-button>
    </ion-row>

    <ion-row *ngIf="this.showResponses">
      <ion-col>
        <br>
        <div>Your responses</div>
      </ion-col>
    </ion-row>
    <ion-row   *ngFor="let questionAnswer of questionAnswers">
      <ion-col *ngIf="this.showResponses">
        <div>{{questionAnswer.question}} : {{questionAnswer.answer}}</div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <br><br>



</ion-content>