<ion-header translucent>
  <ion-item>
    <ion-row>
      <ion-col text-left lign-self-end size="10">
        <p style="font-family: Pacifico;font-size: 1.6em;color:royalblue;font-weight: bolder;">Welcome to Socrates, the AI
          Marriage Advisor</p>
      </ion-col>
      <ion-col align-self-center size="1">
        <ion-icon name="power" style="font-size: 2.0em;" (click)="resetClicked($event)"
          [ngStyle]="{color:resetButtonColor}"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-header>



<ion-content fullscreen>


  <ion-item *ngIf="!startEngine">
    <ion-row>
      <ion-col text-left size="10" align-self-end>
        <p style="font-family: Arizonia;font-size: 1.3em;color:greenyellow;">
          I am here to help you with your nuptial predicament. 
        </p>
        <p style="font-family: Arizonia;font-size: 1.3em;color:greenyellow;">So lets get started</p>
      </ion-col>
      <ion-col text-left align-self-end size="1">
        <ion-icon name="play" style="font-size: 1.7em;color:coral;" (click)="playClicked($event)"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-item>


  <ion-item *ngIf="this.results == null && startEngine" class="top">
    <ion-label class="ion-text-wrap" style="font-family: Leckerli One;font-size:.8em;color:gold ">
      {{inputText}}</ion-label>

    <ion-select [(ngModel)]="choices_selectbox" *ngIf="choices != null" (ionChange)="onChoicesListChange($event)"
      interface="popover">
      <ion-select-option *ngFor="let choice of choices">{{choice}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item *ngIf="range != null">
    <ion-input id="range_input" [(ngModel)]="selectedRange" required="true" clearInput=true type="number" pattern="\d*"
      (ionChange)="onInputTextChange($event.target.value)" (keyup.enter)="keyupEnter()"
      placeholder="valid range {{range.min}} to {{range.max}}"
      style="font-family: Leckerli One;font-size:.8em;color:cornflowerblue ">
    </ion-input>
    <ion-button *ngIf="this.validInput" (click)="onSendInput($event)">&#8594;</ion-button><br><br>
  </ion-item>


  <div *ngIf="this.results != null">
    <div>
      <!-- <img src={{results_image_source}}> -->
      <!-- <img src="../assets/imgs/h2.jpg"> -->
      <ion-grid>
        <ion-row>
          <ion-col align-self-center text-left size="3">
            <ion-icon name={{resultsIconName}} [ngStyle]="{color:resultsIconColor}" style="font-size: 4.1em;text-align: right;" ></ion-icon>
          </ion-col>
          <ion-col text-left size="9">
            <p style="font-family: Pacifico;color: forestgreen;">{{greetings}}</p>
            <p style="font-family: Leckerli One;color: blueviolet;">{{results_caption}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- <div class="item item-image" class="dark-theme">
      <ion-row>
        <ion-col size="2">
          <img *ngIf="!results_image_source" src="../assets/imgs/brain.jpg">
        </ion-col>
        <ion-col size="10">
          <p style="font-family: Leckerli One;color: blueviolet;">Socrates Artificial Intelligence recommends that you not get married, as the likelyhood of a failed marriage is{{results_caption}}</p>
        </ion-col>
      </ion-row>
    </div> -->
    <div>
      <ion-row text-center>
        <ion-col>
          <ion-button color="light" (click)="onShowReasoning($event)" style="font-family: Leckerli One;">why
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>


  <ion-grid *ngIf="this.showGrid" text-center style="font-family: Leckerli One;font-size:.8em;color:cornflowerblue ">

    <ion-row>
      <!-- <ion-col>
        <br>
        <div>Factors</div>
      </ion-col> -->
    </ion-row>
    <ion-row *ngFor="let matchFactor of matchFactors">
      <ion-col>
        <div>{{matchFactor.factor}} : {{matchFactor.value}}</div>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <ion-button color="light" (click)="onShowResponses($event)" style="font-family: Leckerli One;">Responses
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="this.showResponses" text-center>
      <ion-col>
        <br>
        <div>Your responses</div>
      </ion-col>
    </ion-row> -->
    <ion-row *ngFor="let questionAnswer of questionAnswers" text-center>
      <ion-col *ngIf="this.showResponses">
        <div>{{questionAnswer.question}} : {{questionAnswer.answer}}</div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <br><br>



</ion-content>