<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Socrates App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-button *ngIf="this.results != null" (click)="resetClicked($event)">Reset</ion-button>
  <ion-item *ngIf="this.results == null" class="top">
    <ion-label class="ion-text-wrap">{{inputText}}</ion-label>

    <ion-select [(ngModel)]="choices_selectbox" *ngIf="choices != null" (ionChange)="onChoicesListChange($event)"
      interface="popover">
      <ion-select-option *ngFor="let choice of choices">{{choice}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item *ngIf="range != null">
    <ion-input inputmode="numeric" [(ngModel)]="selectedRange" required="true" clearInput=true
      (ionChange)="onInputTextChange($event.target.value)" placeholder="valid range {{range.min}} to {{range.max}}">
    </ion-input>
    <ion-button *ngIf="this.validInput" (click)="onSendInput($event)">&#10003;</ion-button><br><br>
  </ion-item>


  <ion-grid *ngIf="this.results != null">
    <ion-row>
      <ion-col>
        <div>Results</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>{{this.results.factor}} , {{this.results.married}} ,{{this.results.not_married}}</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <br>
        <div>Factors</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let matchFactor of matchFactors">
      <ion-col>
        <div>{{matchFactor.factor}} , {{matchFactor.value}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <br>
        <div>Your responses</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let questionAnswer of questionAnswers">
      <ion-col>
        <div>{{questionAnswer.question}} , {{questionAnswer.answer}}</div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <br><br>



</ion-content>